/* Web Page Banner */
#webpagebanner {
    text-align: center;
    color: white;
    background-color: cadetblue;
    border-style: solid;
    border-width: thin;
    border-color: darkgray;
}

/*  */
#flexContainer {
    display: flex;
    border: 1px solid black;
    background-color: whitesmoke;
    
}

