/* Web Page Banner */
#webpagebanner {
    text-align: center;
    color: white;
    background-color: cadetblue;
    border-style: solid;
    border-width: thin;
    border-color: darkgray;
}
    /* Margin 1 */ 
#margin1 {
    border: 1px solid black ;
    background-color: cornsilk;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 150px;
}    